*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif

}
body{
    background-color: aliceblue;
}
form{
    background-color:white;
    width: 30%;
    margin: auto;
    padding: 14px;
    margin-top: 23px;
    box-shadow: 23px 23px 83px 23px black;
    border-radius: 5px;
}
h1{
    font-weight: bold;
    margin-top: 21px;
    font-size: 27px;
    margin-left: 39px;
    margin-bottom: 17px;
}

h2 {

    font-size: 15px;
    padding-left: 30px;
    font: bold;
    color: #333;
}

h2 a {

    text-decoration: none;
}

label{
    font-size: 18px;
    font-weight: bold;
    margin-left: 23px;
    padding: 12px;
}
.casilla{
    width: 80%;
    margin-left: 39px;
    border: 1px solid rgb(68, 68, 68);
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 8px;
    outline: none;
    font-size: 17px;
}
.formu{
    background-color:white;
    width: 33%;
    height: 370px;
    margin: auto;
    padding: 25px;
    margin-top: 70px;
    box-shadow: 23px 23px 83px 23px black;
    border-radius: 5px;
}
.titulo{
    margin-bottom: 23px;
}
.texto{
    width: 85%;
    margin-left: 30px;
    border: 1px solid rgb(68, 68, 68);
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 19px;
    outline: none;
    font-size: 17px;
}
.cont-form{
    margin-top: 59px;
}
select{
    width: 80%;
    font-size: 17px;
    margin-left: 39px;
    border: 1px solid rgb(68, 68, 68);
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 8px;
    outline: none;
}
.casilla:focus{
    border: 1px solid dodgerblue;
}
input[type="submit"]{
    margin-top: 12px;
    margin-bottom: 25px;
    background-color: dodgerblue;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.tituloPrincipal{
    font-size: 40px;
    margin: 43px 50px 10px;
}
#showPassword{
    width: 25px;
    margin-left: -40px;
    cursor: pointer;
    position: relative;
    top: 6px;
}
.lista{
    margin: 23px 90px;
    font-size: 30px;
}
.lista a{
    color: black;
    text-decoration: none;
}
.lista a:hover{
    color:rgb(0, 155, 216);
}

.contenido{
    padding: 12px;
    padding-left: 12px;
    font-family: 'Popins', sans-serif;
    font-size: bold;
}
