@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.card-header {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
}

.profile-info h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-info p {
    margin: 0;
    color: #555;
    font-size: 15px;
    font-family: 'Nonito', sans-serif;
    font-weight: 50;
}
